{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ item.company_name }}</title>
    <h1>{{ item.company_name }}</h3>
    <link rel="stylesheet" href="{% static './style.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body bgcolor="cyan">
    <main>
        <img src = "{{ item.img.url }}" alt="">
        <h1>Welcome to {{ item.company_name }}</h1>  
    </main>

    {% block content %}

    {% endblock %}
  </body>
</html>